<div class="container">
    <div class="header-img">
        <img src="../../../assets/autosmart.png" alt="">
    </div>

    <div class="text-container">
        <h1>За нас</h1>
        <div class="all-parahgraphs">
            <div class="single-paragraph">
                <h2>Какво е AutoSmart?</h2>
                <p>
                    AutoSmart е платформа, където можете да купувате и продавате употребявани автомобили.
                    Нашата цел е да създадем едно място, където всеки може да намери своя идеален автомобил или
                    да продаде своя собствен автомобил с лекота и увереност.Ако сте в търсене на следващото си
                    превозно средство, AutoSmart ви предлага широка гама от висококачествени употребявани
                    автомобили. </p>
            </div>
            <div class="single-paragraph">
                <h2>Нашата мисия:</h2>
                <p>Тук е мястото, където можете да направите обява за продажба на вашия автомобил. Нашата цел
                    е да ви осигурим прост и удобен начин за достигане до потенциални купувачи. Можете да
                    създадете детайлно описание на автомобила си, да прикачите снимки и да определите цената.
                    Ние ще ви помогнем да привлечете интерес от потенциални клиенти и да осъществите успешна
                    продажба.</p>
            </div>
        </div>
    </div>
</div>