<div class="container">
  <div class="profile-img">
    <i class="fa-regular fa-user"></i>
  </div>
  <h1>Register</h1>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <!-- USERNAME DATA -->
    <div class="input-data">
            <label for="username"><i class="fa-solid fa-user"></i></label>
            <input type="text" name="username" id="username" placeholder="Username" #inputUsername="ngModel" ngModel
                required minlength="3" maxlength="20">
        </div>
    <!-- Error messages -->
    <ng-container *ngIf="inputUsername.touched">
            <div class="error-msg">
                <p *ngIf="inputUsername.errors?.['minlength']">Invalid username
                </p>
                <p *ngIf="inputUsername.errors?.['required']">Username is required!</p>
            </div>
        </ng-container>
    <div class="input-data">
      <label for="email"><i class="fa-solid fa-envelope"></i></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        #inputEmail="ngModel"
        ngModel
        required
        appEmail
      />
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="inputEmail.touched">
      <div class="error-msg">
        <p *ngIf="inputEmail.errors?.['required']">Email is required!</p>
        <p *ngIf="inputEmail.errors?.['emailValidator']">Invalid email!</p>
      </div>
    </ng-container>

    <div class="input-data">
      <label for="password"><i class="fa-solid fa-lock"></i></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        #inputPassword="ngModel"
        ngModel
        required
        minlength="6"
        maxlength="12"
      />
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="inputPassword.touched">
      <div class="error-msg">
        <p *ngIf="inputPassword.errors?.['minlength']">
          Password should be at least 6 characters!
        </p>
        <p *ngIf="inputPassword.errors?.['required']">Password is required!</p>
      </div>
    </ng-container>
    <div class="input-data">
      <label for="rePassword"><i class="fa-solid fa-lock"></i></label>
      <input
        type="password"
        name="rePassword"
        id="rePassword"
        placeholder="Repeat Password"
        #inputRePassword="ngModel"
        ngModel
        required
        minlength="6"
        maxlength="12"
        [appMatchPasswords]="inputPassword.value"
      />
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="inputRePassword.touched">
      <div class="error-msg">
        <p *ngIf="inputRePassword.errors?.['required']">
          Repeat Password is required!
        </p>
        <p *ngIf="inputRePassword.errors?.['matchPasswordsValidator']">
          Passwords doesn't match
        </p>
      </div>
    </ng-container>
    <div class="bottom-part">
      <button class="login-form-btn">Register</button>
      <p>Already have an account? <a routerLink="/login">Log In</a></p>
    </div>
  </form>
</div>
