<div class="container">
    <div class="left-section">
        <div class="user-avatar">
            <img src="https://img.freepik.com/free-icon/man_318-487775.jpg?w=2000" alt="">
            <h1 class="username">{{userData?.username}}</h1>
            <div class="user-offers-details">
                <p>User Offers: {{userOffers.length}}</p>
                <p>Favourite Offers: 0</p>
            </div>
        </div>
        <div class="user-info">
            <div class="social-media">
                <div class="github">
                    <p><i class="fa-brands fa-github"></i>Github</p>
                    <a href="https://github.com/StanislavGenov">StanislavGenov</a>
                </div>
                <div class="instagram">
                    <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                    <p>StanislavGenov</p>
                </div>
                <div class="twitter">
                    <p><i class="fa-brands fa-twitter"></i>Twitter</p>
                    <p>StanislavGenov</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="user-details" *ngIf="!isEditMode">
            <div class="fullName">
                <h3>Full Name</h3>
                <p>{{userData?.fullName || 'Change Information'}}</p>
            </div>
            <div class="email">
                <h3>Email</h3>
                <p>{{userData?.email || 'Change Information'}}</p>
            </div>
            <div class="phone">
                <h3>Phone Number</h3>
                <p>{{userData?.phone || 'Change Information'}}</p>
            </div>
            <div class="address">
                <h3>Address</h3>
                <p>{{userData?.address || 'Change Information'}}</p>
            </div>
          
        </div>

        <div class="user-details-form" *ngIf="isEditMode">
            <form #userDetailsForm="ngForm" (ngSubmit)="saveChanges(userDetailsForm)">
                <div class="fullName">
                    <label for="fullName">Full Name</label>
                    <input type="text" name="fullName" id="fullName" #fullName [ngModel]="userData?.fullName" required>
                </div>
                <div class="email">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" #email="ngModel" [ngModel]="userData?.email" required
                        appEmail>
                </div>
                <!-- Email Errors -->
                <ng-container *ngIf="email.touched">
                    <div class="error-msg">
                        <p *ngIf="email.errors?.['emailValidator']">Invalid email!</p>
                        <p *ngIf="email.errors?.['required']">Email is required!</p>
                    </div>
                </ng-container>
                <div class="phone">
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" id="phone" pattern="(087)|(088)|(089)[0-9]{7}" #number="ngModel"
                        [ngModel]="userData?.phone" required>
                </div>
                <!-- Phone Errors -->
                <ng-container *ngIf="number.touched">
                    <div class="error-msg">
                        <p *ngIf="number.errors?.['pattern']">Phone Number should start (087, 088, 089) and 10 numbers
                        </p>
                        <p *ngIf="number.errors?.['required']">Phone Number is required!</p>
                    </div>
                </ng-container>
                <div class="address">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" #address [ngModel]="userData?.address">
                </div>
                <ng-container *ngIf="isInvalid">
                    <div class="error-msg">
                        <p>Information is invalid!</p>
                    </div>
                </ng-container>
                <div class="buttons">
                    <button class="save-btn btn" type="submit">Save</button>
                    <button class="cancel-btn btn" (click)="toggleEditMode()">Cancel</button>
                </div>
            </form>
        </div>

        <div class="user-offers">
            <h1>User offers</h1>
            <h2 class="no-offers" *ngIf="userOffers.length === 0">
                You have no offers :(
            </h2>
            <div class="offers-container">
                <div class="offer" *ngFor="let offer of userOffers">
                    <a routerLink="/offers/{{offer._id}}">
                        <div class="media">
                            <img src="{{offer.carImage}}" alt="">
                            <div class="card-primary">
                                <h6 class="card-price">{{offer.price}}лв.</h6>
                            </div>
                        </div>
                        <div class="card-heading">
                            <h5>{{offer.brand}} {{offer.model}}</h5>
                        </div>
                        <div class="divider"></div>
                        <div class="typography">{{offer.createdDate}}, {{offer.fuelTypes}},
                            {{offer.mileage}} км.</div>
                    </a>
                    <div class="card-footer">
                        <p>частно лице, {{offer.location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>