/* PROFILE */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 20em;
}

.user-info .username {
    text-align: center;
}

.left-section .user-avatar {
    background-color: #1e232ed8;
}

.user-avatar {
    text-align: center;
    padding: 1em 0;
    border-radius: 15px;
    width: 750px;
    margin-top: 3em;
    color: #fff;
    border: 1px solid #fff;
}

.user-avatar .username {
    padding-top: 1em;
}

.user-avatar .user-offers-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1em 0;
}

.user-offers-details p {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.left-container .user-avatar img {
    display: block;
    width: 100%;
    height: auto;
}

.user-avatar img {
    width: 250px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.user-info {
    width: 750px;
    height: 354px;
}

.social-media div {
    border-bottom: 1px solid gray;
    padding: 5px 10px;
}

.social-media .github,
.social-media .instagram,
.social-media .twitter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.social-media .github a {
  color: aqua;
}

.social-media .twitter i {
    color: lightblue;
}

.social-media .instagram i {
    color: lightcoral;
}

.social-media i {
    margin-right: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.edit-btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #fff;
    color: #fff;
    transition: 0.3s;
    margin-top: auto;
    border: 2px solid #fff;
}

.edit-btn:hover {
    opacity: 0.6;
}

.user-info .social-media {
    width: 750px;
    height: 354px;
    margin: 1em 0 5em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 1em;
    font-size: 20px;
    border-radius: 15px;
    background-color: #1e232ed8;
    color: #fff;
}

.offers-container {
    margin: 1em 2em 1.5em 0;
    display: flex;
    overflow: auto;
    gap: 10px;
}

.user-offers {
    flex-direction: column;
    margin: 1em 0 5em 0;
    background-color: #1e232ed8;
    padding: 1em;
    border-radius: 15px;
    width: 900px;
}

.user-offers h1 {
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 10px;
}

.user-offers .offers-container .offer {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 350px;
    transition: 0.3s;
    margin: 1em 1.5em 2em 1.5em;
    font-size: 15px;
    border-radius: 10px;
}

.user-offers .offers-container .offer:hover {
    transform: scale(1.05);
}

.divider {
    border-top: 1px solid #000;
    opacity: .12;
    margin: 0.5rem 1rem;
}

.no-offers {
    text-align: center;
    margin-top: 2em;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.card-primary,
.card-heading,
.typography,
.card-footer {
    padding: 1px 0 0 5px;
}

.offers-container .offer .media img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.offer .card-price {
    font-size: 20px;
}

.right-section {
    height: 832px;
    justify-content: center;
    align-items: center;
}

.right-section .user-details {
    background-color: #1e232ed8;
    width: 900px;
    height: 428px;
    border-radius: 15px;
    padding: 1.5em;
    margin-top: 2.4em;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.user-details div {
    border-bottom: 2px solid gray;
    padding: 5px;
}

.user-details div p {
    font-size: 20px;
}

.user-details .fullName,
.user-details .email,
.user-details .phone,
.user-details .address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer .media img {
    width: 350px;
}

.user-offers .offers-container .offer a {
    text-decoration: none;
    color: #000;
}

.user-offers .offers-container .offer:hover {
    cursor: pointer;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

/* .offers-container {
    display: flex;
    flex-wrap: wrap;
} */

.user-details-form {
    background-color: #1e232ed8;
    width: 900px;
    height: 428px;
    border-radius: 15px;
    padding: 1.5em;
    margin-top: 2.4em;
    color: #fff;
}

.user-details-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.user-details-form form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-bottom: auto;
    gap: 1em;
    width: 100%;
}

.user-details-form form div input {
    width: 500px;
    padding: 5px 0;
    background-color: transparent;
    font-size: 19px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.user-details-form form .buttons {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: row;
    margin-top: auto;
    gap: 2em;
}

.buttons .btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    color: #000;
    transition: 0.3s;
}

.buttons .save-btn {
    background-color: green;
    color: #fff;
}

.buttons .cancel-btn {
    background-color: red;
    color: #fff;
}

.buttons .save-btn:hover,
.buttons .cancel-btn:hover {
    transform: scale(1.1);
    border: 1px solid #fff;
}

.error-msg {
    color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}