<div class="container">
    <div class="contact-heading">
        <h1>Contact Us</h1>
        <p>For any general inquiries, assistance with browsing our inventory, or questions about our services, our
            dedicated customer support team is available to help!</p>
        <div class="customer-support">
            <h2>Email: info@autosmart.com</h2>
            <h3>Phone: +1234567890</h3>
        </div>
    </div>
    <form>
        <div class="input-container">
            <div class="input-data">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="your email...">
            </div>
            <div class="input-data">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="your name...">
            </div>
        </div>
        <div class="textarea-data">
            <label for="help">What can we help you with?</label>
            <textarea name="support" id="support" rows="5" cols="40"></textarea>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>
