<div class="container">
    <div class="bg-img"></div>
    <div class="bg-text">
        <h1>Your Key to Affordable Excellence in Used Cars</h1>
        <p>Представяме ви AutoSmart - вашето надеждно място за висококачествени и достъпни коли от втора
            употреба.
            С
            постоянно стремление към задоволството на клиентите и широка гама от превозни средства, ние се
            стремим
            да
            направим вашето изживяване при покупката на автомобил гладко и задоволително.</p>
        <div class="home-buttons">
            <button class="catalog-btn btn" routerLink="/offers">Catalog</button>
            <button class="about-btn btn" routerLink="/about">About us</button>
        </div>
    </div>

    <div class="info-section">
        <h2>Platform information</h2>
        <div class="info-container">
            <div class="card">
                <img class="hands-img" src="../../assets/handshake-vector-icon-removebg-preview.png" alt="plus">
                <p>В AutoSmart вие имате възможността не само да разглеждате и закупувате нашата голяма
                    колекция от
                    автомобили, но и да добавяте свои предложения или да купувате автомобили от други хора. Ние
                    създаваме платформа, където можете да намерите най-добрата оферта или да продадете своя
                    автомобил на други потребители.</p>
            </div>
            <div class="card">
                <img class="car-img" src="https://cdn-icons-png.flaticon.com/512/2736/2736918.png" alt="">
                <p>Ако имате автомобил, който искате да продадете, просто добавете го към нашата платформа, като
                    предоставите всички необходими детайли и снимки. Това ще ви позволи да достигнете до хиляди
                    потенциални купувачи, които активно търсят автомобили от втора ръка.</p>
            </div>
        </div>
    </div>
</div>